In [2]:
import pandas as pd
import numpy as np

In [3]:
df_binary_operator = pd.DataFrame({'angles': [0, 3, 4],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])

In [4]:
df_binary_operator

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [8]:
df_binary_operator.sum()

circle       360
triangle     183
rectangle    364
dtype: int64

In [15]:
df_binary_operator + 10

           angles  degrees
circle         10      370
triangle       13      190
rectangle      14      370

In [16]:
df_binary_operator.add(10)

           angles  degrees
circle         10      370
triangle       13      190
rectangle      14      370

In [9]:
df_binary_operator - [1, 2]

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [11]:
df_binary_operator.sub([1, 2], axis='columns') # Default setting of axis with columns

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [14]:
df_binary_operator.sub([1, 2, 3], axis='index') # Change axis to index or 0 to operation alone with Index. Make sure the size is equal.

           angles  degrees
circle         -1      359
triangle        1      178
rectangle       1      357

In [17]:
other = pd.DataFrame({'angles': [0, 3, 4]},
                     index=['circle', 'triangle', 'rectangle']) # Creat a new DF with only one column

In [18]:
other

           angles
circle          0
triangle        3
rectangle       4

In [19]:
df_binary_operator * other# Missing values still there

           angles  degrees
circle          0      NaN
triangle        9      NaN
rectangle      16      NaN

In [21]:
df_binary_operator.mul(other, fill_value=0) # Fill missing value with 0

           angles  degrees
circle          0      0.0
triangle        9      0.0
rectangle      16      0.0