原文链接：https://www.aideeplearning.cn/%e9%a2%84%e6%b5%8b%e7%b3%96%e5%b0%bf%e7%97%85%e5%8f%91%e7%97%85%e9%a3%8e%e9%99%a9%e9%a1%b9%e7%9b%ae/

In [1]:
from sklearn.datasets import load_diabetes
from sklearn import linear_model
diabetes = load_diabetes()
data=diabetes.data
target = diabetes.target
print(data.shape)
print(target.shape)

(442, 10)
(442,)

In [5]:
import pandas as pd
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = target
print('Dataset loaded successfully !!')

Dataset loaded successfully !!

In [11]:
# first ten rows data
df.head(10)

        age       sex       bmi        bp        s1        s2        s3        s4        s5        s6  target
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401 -0.002592  0.019907 -0.017646   151.0
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412 -0.039493 -0.068332 -0.092204    75.0
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356 -0.002592  0.002861 -0.025930   141.0
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038  0.034309  0.022688 -0.009362   206.0
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142 -0.002592 -0.031988 -0.046641   135.0
5 -0.092695 -0.044642 -0.040696 -0.019442 -0.068991 -0.079288  0.041277 -0.076395 -0.041176 -0.096346    97.0
6 -0.045472  0.050680 -0.047163 -0.015999 -0.040096 -0.024800  0.000779 -0.039493 -0.062917 -0.038357   138.0
7  0.063504  0.050680 -0.001895  0.066629  0.090620  0.108914  0.022869  0.017703 -0.035816  0.003064    63.0
8  0.041708  0.050680  0.061696 -0.040099 -0.013953  0.006202 -0.028674 -0.002592 -0.014960  0.011349   110.0
9 -0.070900 -0.044642  0.039062 -0.033213 -0.012577 -0.034508 -0.024993 -0.002592  0.067737 -0.013504   310.0

In [12]:
# rows number and columns nuber
df.shape

(442, 11)

In [15]:
# 数据的统计测量
df.describe()

                age           sex           bmi            bp            s1            s2            s3            s4            s5            s6      target
count  4.420000e+02  4.420000e+02  4.420000e+02  4.420000e+02  4.420000e+02  4.420000e+02  4.420000e+02  4.420000e+02  4.420000e+02  4.420000e+02  442.000000
mean  -2.511817e-19  1.230790e-17 -2.245564e-16 -4.797570e-17 -1.381499e-17  3.918434e-17 -5.777179e-18 -9.042540e-18  9.293722e-17  1.130318e-17  152.133484
std    4.761905e-02  4.761905e-02  4.761905e-02  4.761905e-02  4.761905e-02  4.761905e-02  4.761905e-02  4.761905e-02  4.761905e-02  4.761905e-02   77.093005
min   -1.072256e-01 -4.464164e-02 -9.027530e-02 -1.123988e-01 -1.267807e-01 -1.156131e-01 -1.023071e-01 -7.639450e-02 -1.260971e-01 -1.377672e-01   25.000000
25%   -3.729927e-02 -4.464164e-02 -3.422907e-02 -3.665608e-02 -3.424784e-02 -3.035840e-02 -3.511716e-02 -3.949338e-02 -3.324559e-02 -3.317903e-02   87.000000
50%    5.383060e-03 -4.464164e-02 -7.283766e-03 -5.670422e-03 -4.320866e-03 -3.819065e-03 -6.584468e-03 -2.592262e-03 -1.947171e-03 -1.077698e-03  140.500000
75%    3.807591e-02  5.068012e-02  3.124802e-02  3.564379e-02  2.835801e-02  2.984439e-02  2.931150e-02  3.430886e-02  3.243232e-02  2.791705e-02  211.500000
max    1.107267e-01  5.068012e-02  1.705552e-01  1.320436e-01  1.539137e-01  1.987880e-01  1.811791e-01  1.852344e-01  1.335973e-01  1.356118e-01  346.000000

In [17]:
df['sex'].value_counts

<bound method IndexOpsMixin.value_counts of 0      0.050680
1     -0.044642
2      0.050680
3     -0.044642
4     -0.044642
         ...
437    0.050680
438    0.050680
439    0.050680
440   -0.044642
441   -0.044642
Name: sex, Length: 442, dtype: float64>