PREPARATION

In [1]:
"""
a) Click on JupyterHub File – New – Notebook in the upper left corner
of the page button to create a new Notebook Used to save the
content of this part of the exercise
"""

"""
b) Select Kernel for Python 3
"""

"""
c) As in the previous exercise, modify the notebook File name: p
andas.ipynb
"""

"""
d) Enter the import numpy and pandas statements in the first cell for
subsequent exercises, and give them new names np and pd
respectively.
"""
import numpy as np
import pandas as pd

# PROCESSING TIME SERIES DATA

In [12]:
# a) First, use the pd.date_range method to create a time series data, s_date_1, 
# with a start date of 2023-1-1, a frequency (freq) of day (D), and a time span (period) of 100. 
# Check out its basic information below and confirm that it is separated by actual month lengths.
s_date_1 = pd.Series(pd.date_range(start='2023-1-1', freq='D', periods=100))
s_date_1.info(), s_date_1[29:33], s_date_1[57:61]

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: None
Non-Null Count  Dtype
--------------  -----
100 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 932.0 bytes

(None,
 29   2023-01-30
 30   2023-01-31
 31   2023-02-01
 32   2023-02-02
 dtype: datetime64[ns],
 57   2023-02-27
 58   2023-02-28
 59   2023-03-01
 60   2023-03-02
 dtype: datetime64[ns])

In [20]:
# b) Using pd.Period function creates a time span (Period) object s_date_2 with a start date of 2023-1-1 and a frequency ( freq ) of day (D) . 
# Try to implement an addition operation on it to increase the date:
s_date_2 = pd.Period('2023-1-1', freq='D')
s_date_2 + 1

Period('2023-01-02', 'D')

In [22]:
# c) Using this operation, you can easily calculate the difference between two time spans, 
# such as creating a new Period with a start date of 2023-7-1 s _date_3 , try to calculate the difference between it and 2023-1-1 : 181 days
s_date_3 = pd.Period('2023-7-1')
s_date_3 - s_date_2

In [34]:
# d) Timestamp or time span objects have many practical attributes, such as dayofweek which indicates the day of the week (starting from 0). 
# So try to calculate how many weekends there are between s_date_2 and s_date_3 ?
weekends = 0
for day in range(pd.Timedelta(s_date_3 - s_date_2).days):
    if ((s_date_2 + day).dayofweek >= 5):
        weekends += 1
weekends
# (s_date_3 - s_date_2).day_of_week()

51

: