PREPARATION

In [23]:
"""
a) Click on JupyterHub File – New – Notebook in the upper left corner
of the page button to create a new Notebook Used to save the
content of this part of the exercise
"""

"""
b) Select Kernel for Python 3
"""

"""
c) As in the previous exercise, modify the notebook File name: p
andas.ipynb
"""

"""
d) Enter the import numpy and pandas statements in the first cell for
subsequent exercises, and give them new names np and pd
respectively.
"""
import numpy as np
import pandas as pd

In [24]:
"""
g) Create s_1, s_2 and s_3 respectively as column data of DataFrame. 
Try to create them in dict form and set the column names to s1, s2 and s3 respectively. 
Assign the newly created DataFrame to d_1.
"""
# d1 = {
#     "s1" : s_1,
#     "s2" : s_2,
#     "s3" : s_3,
    
# }
# pd.DataFrame(d1)
list_s_1 = ['a','b','c','d','e']
s_1 = pd.Series(list_s_1)

s_2 = pd.Series(np.arange(1,6))

list_index_1 = ['A', 'B', 'C', 'D', 'E']
s_3 = pd.Series(np.random.randn(5), index=list_index_1)
s_1.index = list_index_1
s_2.index = list_index_1
d_1 = pd.DataFrame({'s1':s_1, 's2': s_2, 's3': s_3 })
d_1

  s1  s2        s3
A  a   1 -0.870561
B  b   2  1.160421
C  c   3  1.819826
D  d   4  0.207307
E  e   5  0.031809

# ACCESS BASIC INFORMATION (PROPERTIES) OF THE DATA STRUCTURE

In [25]:
"""
 a) Based on the result of the previous exercise d_1 object, view its property information. 
 First, view its row and column Index information:
"""
d_1, d_1.index, d_1.columns

(  s1  s2        s3
 A  a   1 -0.870561
 B  b   2  1.160421
 C  c   3  1.819826
 D  d   4  0.207307
 E  e   5  0.031809,
 Index(['A', 'B', 'C', 'D', 'E'], dtype='object'),
 Index(['s1', 's2', 's3'], dtype='object'))

In [26]:
"""
b) Based on the first row of d_1 , view the index information of the data.
"""
d_1.loc['A'], d_1.loc['A'].index

(s1           a
 s2           1
 s3   -0.870561
 Name: A, dtype: object,
 Index(['s1', 's2', 's3'], dtype='object'))

In [27]:
"""
c) Based on column s1 of d_1 , view the index information of the data.
"""
d_1['s1'], d_1['s1'].index

(A    a
 B    b
 C    c
 D    d
 E    e
 Name: s1, dtype: object,
 Index(['A', 'B', 'C', 'D', 'E'], dtype='object'))

In [28]:
"""
d) Use info Function to view the overall information of d_1 :
"""
d_1.info

<bound method DataFrame.info of   s1  s2        s3
A  a   1 -0.870561
B  b   2  1.160421
C  c   3  1.819826
D  d   4  0.207307
E  e   5  0.031809>

In [ ]:
# a) Implement row-based data access using d_1 data. Use the loc attribute to access rows with index values in C and E:
d_1.loc[['C', 'E']]

  s1  s2        s3
C  c   3  0.724222
E  e   5 -1.039063

In [ ]:
# b) Similarly, access all rows starting from index B:
d_1.loc['B':]

  s1  s2        s3
B  b   2 -0.307921
C  c   3  0.724222
D  d   4 -0.510703
E  e   5 -1.039063

In [ ]:
# c) Access all rows starting with index A and ending with D:
d_1.loc['A': 'D']

  s1  s2        s3
A  a   1 -0.539370
B  b   2 -0.307921
C  c   3  0.724222
D  d   4 -0.510703

In [ ]:
# d) Access row index values is B of columns s 1 and s 2 :
d_1.loc['B', ['s1', 's2']]

s1    b
s2    2
Name: B, dtype: object

In [ ]:
# e) Access rows index value starting from B of columns s 1 and s 2 :
d_1.loc['B':,['s1', 's2']]

  s1  s2
B  b   2
C  c   3
D  d   4
E  e   5