PREPARATION

In [15]:
"""
a) Click on JupyterHub File – New – Notebook in the upper left corner
of the page button to create a new Notebook Used to save the
content of this part of the exercise
"""

"""
b) Select Kernel for Python 3
"""

"""
c) As in the previous exercise, modify the notebook File name: p
andas.ipynb
"""

"""
d) Enter the import numpy and pandas statements in the first cell for
subsequent exercises, and give them new names np and pd
respectively.
"""
import numpy as np
import pandas as pd

# HANDLE CATEGORICAL DATA

In [16]:
# a) This part will based on d_3 data . Create a new column named group_cate , and the data comes from the race/ethnicity column.
d_3 = pd.read_csv('exams.csv')
d_3['group_cate'] = d_3['race/ethnicity']
d_3.info(), d_3['group_cate'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   group_cate                   1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

(None,
 0    group A
 1    group D
 2    group E
 3    group B
 4    group E
 Name: group_cate, dtype: object)

In [18]:
# b) Based on new group_cate , first use astype function changes its type to "category"
d_3['group_cate'] = d_3['group_cate'].astype("category")
d_3.info(), d_3['group_cate'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   group_cate                   1000 non-null   category
dtypes: category(1), int64(3), object(5)
memory usage: 63.8+ KB

(None,
 0    group A
 1    group D
 2    group E
 3    group B
 4    group E
 Name: group_cate, dtype: category
 Categories (5, object): ['group A', 'group B', 'group C', 'group D', 'group E'])

In [20]:
# c) The categorical information is automatically recognized and created . 
# At this time, you can try to execute the describe method on the new column to compare the output with the numerical data:
d_3['group_cate'].describe()

count        1000
unique          5
top       group C
freq          323
Name: group_cate, dtype: object

In [27]:
# d) Categorical data can generally be understood as a column in a DataFrame, 
# which will automatically obtain two attribute objects: cat.categories and cat.ordered (cat. will be omitted later). 
# Among them, the categories information is the category group information, that is, how many categories this category data has. 
# You can try to use a for loop to iterate it and sequentially print the categories information of the group_cate just created.:
for group in d_3['group_cate'].cat.categories:
    print(group)

group A
group B
group C
group D
group E

In [29]:
# e) If order of categorical is important, the definition order of categories and ordered can be used to express the order relationship of categories.
# For example, the previous group A-E is a primary to advanced categories, 
# then it is understandable that students in Group E will perform better than students in Group A. 
# By default, ordered is False and cannot be modified. The data when ordered is True can be obtained through the cat.as_ordered method:
d_3['group_cate'].cat.as_ordered()

0      group A
1      group D
2      group E
3      group B
4      group E
        ...
995    group C
996    group D
997    group C
998    group C
999    group A
Name: group_cate, Length: 1000, dtype: category
Categories (5, object): ['group A' < 'group B' < 'group C' < 'group D' < 'group E']

In [30]:
# f) On the contrary, if it is sorted categorical data, use cat. as_unordered function can get Data when ordered is False.
d_3['group_cate'].cat.as_unordered()

0      group A
1      group D
2      group E
3      group B
4      group E
        ...
995    group C
996    group D
997    group C
998    group C
999    group A
Name: group_cate, Length: 1000, dtype: category
Categories (5, object): ['group A', 'group B', 'group C', 'group D', 'group E']

In [33]:
# g) The main uses of sequential categorical data are: sorting and comparison. 
# First, assign the group_cate column data with order to s_group_cate and then use the sort_values method to sort it to see 
# if the output is arranged in the preset order.:
s_group_cate = d_3['group_cate'].cat.as_ordered()
s_group_cate.sort_values()

0      group A
369    group A
376    group A
388    group A
399    group A
        ...
752    group E
777    group E
783    group E
273    group E
536    group E
Name: group_cate, Length: 1000, dtype: category
Categories (5, object): ['group A' < 'group B' < 'group C' < 'group D' < 'group E']

In [36]:
# h) At this time, use the cat.rename_categories method to adjust the category name to: 'group B' < 'group C' < 'group A' < 'group E' < 'group D', 
# and then check whether the result after sort_values follows changes due to sequence adjustment:
s_group_cate.cat.rename_categories(['group B', 'group C', 'group A', 'group E', 'group D']).sort_values()

0      group B
369    group B
376    group B
388    group B
399    group B
        ...
752    group D
777    group D
783    group D
273    group D
536    group D
Name: group_cate, Length: 1000, dtype: category
Categories (5, object): ['group B' < 'group C' < 'group A' < 'group E' < 'group D']

In [40]:
# i) It can be seen that rename_categories only changes the original category group name, 
# but the actual sorting does not change (can be determined according to the index serial number). 
# Experience the sorting and look at the comparison results. 
# Currently group_cate is still in the order of Group A to D, then the elements belonging to Group D should be about the same as the elements of Group A:
s_group_cate, s_group_cate[0] < s_group_cate[1], s_group_cate[1] < s_group_cate[2]

(0      group A
 1      group D
 2      group E
 3      group B
 4      group E
         ...
 995    group C
 996    group D
 997    group C
 998    group C
 999    group A
 Name: group_cate, Length: 1000, dtype: category
 Categories (5, object): ['group A' < 'group B' < 'group C' < 'group D' < 'group E'],
 True,
 True)

In [49]:
# j) As data increases or decreases, new category types may appear, such as Group F, etc.; or disappearing classification types need to be deleted. 
# Category types can be added and deleted respectively through the add_categories and remove_categories methods (without directly modifying the original data). 
# Note: The new category key cannot be the same as the existing key.
s_group_cate.cat.remove_categories('group A'), s_group_cate.cat.add_categories("group F")

(0          NaN
 1      group D
 2      group E
 3      group B
 4      group E
         ...
 995    group C
 996    group D
 997    group C
 998    group C
 999        NaN
 Name: group_cate, Length: 1000, dtype: category
 Categories (4, object): ['group B' < 'group C' < 'group D' < 'group E'],
 0      group A
 1      group D
 2      group E
 3      group B
 4      group E
         ...
 995    group C
 996    group D
 997    group C
 998    group C
 999    group A
 Name: group_cate, Length: 1000, dtype: category
 Categories (6, object): ['group A' < 'group B' < 'group C' < 'group D' < 'group E' < 'group F'])

In [50]:
# k) Group statistics based on categorical data are more convenient, and the method of use has not changed. 
# Based on the value_counts method, the number of grouped data can be quickly counted:
s_group_cate.value_counts()

group_cate
group C    323
group D    262
group B    205
group E    131
group A     79
Name: count, dtype: int64