PREPARATION

In [2]:
"""
a) Click on JupyterHub File – New – Notebook in the upper left corner
of the page button to create a new Notebook Used to save the
content of this part of the exercise
"""

"""
b) Select Kernel for Python 3
"""

"""
c) As in the previous exercise, modify the notebook File name: p
andas.ipynb
"""

"""
d) Enter the import numpy and pandas statements in the first cell for
subsequent exercises, and give them new names np and pd
respectively.
"""
import numpy as np
import pandas as pd

In [74]:
"""
f) Using the same function to read CSV file, this time add the parameter nrows to set the number of rows to be read, 
such as 100 , assign it to the new variable d_4 and check whether the result is same as the specified number of rows:
"""
d_4 = pd.read_csv('exams.csv', nrows=100)
d_4.info

<bound method DataFrame.info of     gender race/ethnicity parental level of education         lunch  \
0     male        group A                 high school      standard
1   female        group D            some high school  free/reduced
2     male        group E                some college  free/reduced
3     male        group B                 high school      standard
4     male        group E          associate's degree      standard
..     ...            ...                         ...           ...
95  female        group C                 high school      standard
96  female        group E          associate's degree      standard
97    male        group B                 high school  free/reduced
98    male        group A                some college      standard
99    male        group B          associate's degree      standard

   test preparation course  math score  reading score  writing score
0                completed          67             67             63
1                     none          40             59             55
2                     none          59             60             50
3                     none          77             78             68
4                completed          78             73             68
..                     ...         ...            ...            ...
95               completed          58             63             67
96               completed          95            100            100
97                    none          45             52             49
98                    none          63             50             49
99                    none          60             54             53

[100 rows x 8 columns]>

# ACCESS DATA DATAFRAME BASED ON COLUMNS

In [8]:
"""
a) Utilize d_4 data to implement column-based data access. 
First, realize the simultaneous display of information from the three
columns " gender ", " race/ethnicity " and " math score ".
"""
d_4[['gender', 'race/ethnicity', 'math score']].head()

   gender race/ethnicity  math score
0    male        group A          67
1  female        group D          40
2    male        group E          59
3    male        group B          77
4    male        group E          78

In [9]:
"""
b) Create a new column for d_4: avg_score, with the value being the
average of the three score column values:
"""
d_4['avg_score'] = (d_4['math score'] + d_4['reading score'] + d_4['writing score']) / 3
d_4['avg_score'].head()

0    65.666667
1    51.333333
2    56.333333
3    74.333333
4    73.000000
Name: avg_score, dtype: float64

In [10]:
"""
c) Use the sum method to count the number of avg_score values greater than 60, and the output value is 65
"""
d_4[d_4['avg_score'] > 60].count()

gender                         65
race/ethnicity                 65
parental level of education    65
lunch                          65
test preparation course        65
math score                     65
reading score                  65
writing score                  65
avg_score                      65
dtype: int64

In [11]:
# d) Use a similar method to find the gender information of records with avg_score value greater than 60 :
d_4[d_4['avg_score'] > 60]['gender']

0       male
3       male
4       male
5     female
6     female
       ...
92    female
93      male
94      male
95    female
96    female
Name: gender, Length: 65, dtype: object

In [12]:
# e) Use the drop function to delete the avg_score column, restore d_4 to its original state:
d_4.info()
d_4 = d_4.drop('avg_score', axis=1)
d_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       100 non-null    object
 1   race/ethnicity               100 non-null    object
 2   parental level of education  100 non-null    object
 3   lunch                        100 non-null    object
 4   test preparation course      100 non-null    object
 5   math score                   100 non-null    int64
 6   reading score                100 non-null    int64
 7   writing score                100 non-null    int64
 8   avg_score                    100 non-null    float64
dtypes: float64(1), int64(3), object(5)
memory usage: 7.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       100 non-null    object
 1   race/ethnicity               100 non-null    object
 2   parental level of education  100 non-null    object
 3   lunch                        100 non-null    object
 4   test preparation course      100 non-null    object
 5   math score                   100 non-null    int64
 6   reading score                100 non-null    int64
 7   writing score                100 non-null    int64
dtypes: int64(3), object(5)
memory usage: 6.4+ KB