PREPARATION

In [3]:
"""
a) Click on JupyterHub File – New – Notebook in the upper left corner
of the page button to create a new Notebook Used to save the
content of this part of the exercise
"""

"""
b) Select Kernel for Python 3
"""

"""
c) As in the previous exercise, modify the notebook File name: p
andas.ipynb
"""

"""
d) Enter the import numpy and pandas statements in the first cell for
subsequent exercises, and give them new names np and pd
respectively.
"""
import numpy as np
import pandas as pd

# CREATE DATA STRUCTURE

In [4]:
"""
a) Create a List object: list_s_1, fill the objects from a to e, 5
lowercase English letters.
"""
list_s_1 = ['a','b','c','d','e']
print(list_s_1)

['a', 'b', 'c', 'd', 'e']

In [5]:
"""
b) Using pd.Series create a Series named s_1 based on list _s_1 as
data source.
"""
s_1 = pd.Series(list_s_1)
print(s_1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [6]:
"""
c) Then use np.arange to provide data for pd.Series and create an s_2 object with an integer content of 1 to 5
"""
s_2 = pd.Series(np.arange(1,6))
print(s_2)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [7]:
"""
d) Create a List object: list_index_1, fill the object with 5 uppercase English letters from A to E. 
Then use it as the index data of pd.Series and np.random as the data to create a Series with 5 random numbers: s_3
Machine learning data analysis
"""
list_index_1 = ['A', 'B', 'C', 'D', 'E']
s_3 = pd.Series(np.random.randn(5), index=list_index_1)
print(s_3)

A    0.633869
B   -1.383308
C    1.706056
D    1.153724
E   -0.929992
dtype: float64

In [8]:
"""
e) Try using Series index property assignment to modify its Index
information, to unify the index information of s_1 and s_2 into
list_index_1 , keeping it consistent with s_3 :
"""
s_1.index = list_index_1
s_2.index = list_index_1
s_1,s_2

(A    a
 B    b
 C    c
 D    d
 E    e
 dtype: object,
 A    1
 B    2
 C    3
 D    4
 E    5
 dtype: int32)

In [9]:
"""
f) Try to form a List from s_1, s_2 and s_3 and provide it to
pd.DataFrame as data to create a DataFrame and check the
result:
"""
pd.DataFrame([s_1,s_2,s_3])

          A         B         C         D         E
0         a         b         c         d         e
1         1         2         3         4         5
2  0.633869 -1.383308  1.706056  1.153724 -0.929992

In [10]:
"""
g) Create s_1, s_2 and s_3 respectively as column data of DataFrame. 
Try to create them in dict form and set the column names to s1, s2 and s3 respectively. 
Assign the newly created DataFrame to d_1.
"""
# d1 = {
#     "s1" : s_1,
#     "s2" : s_2,
#     "s3" : s_3,
    
# }
# pd.DataFrame(d1)
d_1 = pd.DataFrame({'s1':s_1, 's2': s_2, 's3': s_3 })
d_1

  s1  s2        s3
A  a   1  0.633869
B  b   2 -1.383308
C  c   3  1.706056
D  d   4  1.153724
E  e   5 -0.929992

In [11]:
"""
h) Try to use the list_s_1 created earlier as index data, create DataFrame d_2 with the same data as in the previous step, 
and check the creation results.:
"""
# The index list doesn't match, so all columns are NaN
pd.DataFrame({'s1':s_1, 's2': s_2, 's3': s_3 }, index=list_s_1)

    s1  s2  s3
a  NaN NaN NaN
b  NaN NaN NaN
c  NaN NaN NaN
d  NaN NaN NaN
e  NaN NaN NaN

In [12]:
# Matched index list
pd.DataFrame({'s1':s_1, 's2': s_2, 's3': s_3 }, index=list_index_1)

  s1  s2        s3
A  a   1  0.633869
B  b   2 -1.383308
C  c   3  1.706056
D  d   4  1.153724
E  e   5 -0.929992