In [1]:
import pandas as pd
import numpy as np

In [2]:
exam_csv = pd.read_csv("exams.csv")
type(exam_csv),exam_csv.columns

(pandas.core.frame.DataFrame,
 Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
        'test preparation course', 'math score', 'reading score',
        'writing score'],
       dtype='object'))

In [3]:
exam_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
type(exam_csv.gender)

pandas.core.series.Series

In [7]:
exam_csv["gender"].tail(10)

990      male
991    female
992      male
993    female
994      male
995      male
996      male
997    female
998    female
999      male
Name: gender, dtype: object

In [8]:
exam_csv["gender"].to_csv("exam_csv_gender.csv",index=False)

In [11]:
exam_csv["gender"].value_counts()

gender
male      517
female    483
Name: count, dtype: int64

In [12]:
with pd.read_csv("exams.csv",chunksize=100) as reader:
    #reader
    for chunk in reader:
        print(chunk.info)

<bound method DataFrame.info of     gender race/ethnicity parental level of education         lunch  \
0     male        group A                 high school      standard
1   female        group D            some high school  free/reduced
2     male        group E                some college  free/reduced
3     male        group B                 high school      standard
4     male        group E          associate's degree      standard
..     ...            ...                         ...           ...
95  female        group C                 high school      standard
96  female        group E          associate's degree      standard
97    male        group B                 high school  free/reduced
98    male        group A                some college      standard
99    male        group B          associate's degree      standard

   test preparation course  math score  reading score  writing score
0                completed          67             67             63
1                     none          40             59             55
2                     none          59             60             50
3                     none          77             78             68
4                completed          78             73             68
..                     ...         ...            ...            ...
95               completed          58             63             67
96               completed          95            100            100
97                    none          45             52             49
98                    none          63             50             49
99                    none          60             54             53

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
100    male        group C                some college  free/reduced
101    male        group C                some college      standard
102    male        group E                 high school      standard
103    male        group D                 high school      standard
104  female        group B                some college      standard
..      ...            ...                         ...           ...
195  female        group D            some high school  free/reduced
196    male        group D           bachelor's degree      standard
197    male        group A             master's degree  free/reduced
198  female        group B          associate's degree      standard
199    male        group D                 high school      standard

    test preparation course  math score  reading score  writing score
100               completed          54             61             62
101               completed          75             78             79
102                    none          79             78             77
103                    none          66             67             67
104                    none          47             58             58
..                      ...         ...            ...            ...
195                    none          39             49             48
196                    none          50             46             48
197                    none          53             57             51
198               completed          54             62             70
199                    none          74             63             65

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
200  female        group D          associate's degree      standard
201    male        group E          associate's degree      standard
202    male        group C                some college      standard
203  female        group B            some high school      standard
204  female        group D          associate's degree  free/reduced
..      ...            ...                         ...           ...
295  female        group C            some high school      standard
296    male        group D            some high school  free/reduced
297  female        group E           bachelor's degree  free/reduced
298    male        group B                 high school      standard
299    male        group D                 high school      standard

    test preparation course  math score  reading score  writing score
200               completed          50             63             65
201                    none          55             54             47
202                    none          77             64             70
203               completed          49             64             67
204                    none          66             83             82
..                      ...         ...            ...            ...
295                    none          77             83             86
296                    none          50             47             46
297                    none          56             58             52
298                    none          69             58             50
299                    none          47             43             39

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
300    male        group B                some college  free/reduced
301    male        group A            some high school  free/reduced
302    male        group C                 high school  free/reduced
303    male        group C                some college      standard
304    male        group D           bachelor's degree      standard
..      ...            ...                         ...           ...
395  female        group B            some high school      standard
396  female        group D          associate's degree      standard
397  female        group B          associate's degree      standard
398    male        group B           bachelor's degree      standard
399  female        group A                some college  free/reduced

    test preparation course  math score  reading score  writing score
300                    none          43             28             24
301                    none          48             39             40
302                    none          55             62             49
303                    none          73             68             66
304                    none          71             63             66
..                      ...         ...            ...            ...
395                    none          64             78             83
396                    none          85            100            100
397               completed          70             80             86
398               completed          90             73             83
399               completed          53             70             69

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
400    male        group C                some college      standard
401    male        group A          associate's degree      standard
402  female        group C            some high school      standard
403  female        group B                some college      standard
404  female        group A                 high school      standard
..      ...            ...                         ...           ...
495    male        group E                some college      standard
496  female        group B            some high school  free/reduced
497    male        group E                some college  free/reduced
498    male        group B           bachelor's degree      standard
499    male        group B          associate's degree      standard

    test preparation course  math score  reading score  writing score
400               completed          74             73             75
401               completed          61             71             67
402               completed          55             74             73
403               completed          65             63             66
404                    none          77             77             79
..                      ...         ...            ...            ...
495                    none          78             65             60
496                    none          26             34             28
497                    none          71             64             66
498               completed          86             92             93
499               completed          89             84             81

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
500  female        group B                 high school  free/reduced
501  female        group C          associate's degree      standard
502    male        group D          associate's degree      standard
503    male        group D                 high school      standard
504  female        group C                 high school  free/reduced
..      ...            ...                         ...           ...
595  female        group B                some college      standard
596  female        group B                 high school  free/reduced
597  female        group A                some college      standard
598    male        group A            some high school  free/reduced
599  female        group C            some high school      standard

    test preparation course  math score  reading score  writing score
500                    none          53             64             63
501                    none          87             87             92
502                    none          71             57             59
503                    none          77             80             72
504               completed          43             48             53
..                      ...         ...            ...            ...
595                    none          46             54             54
596               completed          75             85             90
597                    none          46             51             54
598                    none          42             40             40
599               completed          77             86             90

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
600  female        group C                some college  free/reduced
601  female        group D                 high school      standard
602    male        group C                 high school      standard
603  female        group C          associate's degree      standard
604  female        group D           bachelor's degree      standard
..      ...            ...                         ...           ...
695    male        group B            some high school      standard
696  female        group C            some high school      standard
697    male        group E          associate's degree      standard
698    male        group C                some college  free/reduced
699  female        group C                some college  free/reduced

    test preparation course  math score  reading score  writing score
600                    none          40             63             56
601                    none          69             71             76
602                    none          43             50             45
603               completed          69             75             71
604               completed          89             93            100
..                      ...         ...            ...            ...
695               completed          68             63             62
696               completed          52             64             63
697                    none          90             76             73
698               completed          71             82             75
699               completed          58             69             74

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
700    male        group C            some high school  free/reduced
701    male        group D            some high school      standard
702    male        group D                 high school      standard
703    male        group B            some high school      standard
704  female        group A                 high school      standard
..      ...            ...                         ...           ...
795  female        group A             master's degree  free/reduced
796    male        group D          associate's degree  free/reduced
797    male        group B          associate's degree      standard
798    male        group C                some college      standard
799    male        group C                 high school  free/reduced

    test preparation course  math score  reading score  writing score
700                    none          41             39             34
701               completed          43             37             43
702                    none          85             70             71
703                    none          71             72             69
704                    none          72             70             72
..                      ...         ...            ...            ...
795                    none          42             50             44
796               completed          74             90             89
797               completed          62             61             61
798                    none          56             55             50
799                    none          64             52             54

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
800    male        group D                 high school      standard
801  female        group C            some high school      standard
802  female        group B                some college      standard
803    male        group A                some college      standard
804    male        group C                 high school      standard
..      ...            ...                         ...           ...
895  female        group B             master's degree      standard
896    male        group C                 high school  free/reduced
897  female        group C            some high school  free/reduced
898  female        group E                some college      standard
899    male        group C            some high school  free/reduced

    test preparation course  math score  reading score  writing score
800               completed          79             84             80
801                    none          44             65             63
802               completed          69             94             87
803                    none          53             48             48
804                    none          74             69             61
..                      ...         ...            ...            ...
895                    none          71             88             85
896                    none          71             63             64
897                    none          51             67             69
898               completed          75             76             85
899                    none          45             31             27

[100 rows x 8 columns]>
<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
900    male        group B            some high school      standard
901  female        group E                 high school  free/reduced
902    male        group A                some college      standard
903    male        group D                 high school  free/reduced
904    male        group E           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group C                 high school      standard
996    male        group D          associate's degree  free/reduced
997  female        group C            some high school  free/reduced
998  female        group C                some college      standard
999    male        group A                some college      standard

    test preparation course  math score  reading score  writing score
900                    none          59             54             48
901                    none          64             69             68
902               completed          78             69             73
903                    none          59             61             58
904                    none          80             70             71
..                      ...         ...            ...            ...
995                    none          73             70             65
996               completed          85             91             92
997                    none          32             35             41
998                    none          73             74             82
999               completed          65             60             62

[100 rows x 8 columns]>

In [5]:
exam_csv.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
exam_csv.head().to_numpy()

array([['male', 'group A', 'high school', 'standard', 'completed', 67,
        67, 63],
       ['female', 'group D', 'some high school', 'free/reduced', 'none',
        40, 59, 55],
       ['male', 'group E', 'some college', 'free/reduced', 'none', 59,
        60, 50],
       ['male', 'group B', 'high school', 'standard', 'none', 77, 78, 68],
       ['male', 'group E', "associate's degree", 'standard', 'completed',
        78, 73, 68]], dtype=object)

In [9]:
exam_csv.shape

(1000, 8)

In [10]:
exam_csv.index

RangeIndex(start=0, stop=1000, step=1)

In [11]:
exam_csv.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [12]:
exam_csv.gender.index

RangeIndex(start=0, stop=1000, step=1)

In [4]:
exam_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [16]:
exam_csv.gender.array

<PandasArray>
[  'male', 'female',   'male',   'male',   'male', 'female', 'female',
   'male',   'male',   'male',
 ...
   'male', 'female',   'male', 'female',   'male',   'male',   'male',
 'female', 'female',   'male']
Length: 1000, dtype: object