In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import text

In [3]:
conn_string="postgresql+psycopg2://sqltest:sql-test@10.163.213.2:15001/sqltest"
engine = create_engine(conn_string)
conn = engine.connect()

In [4]:
df_students_exam = pd.read_csv("exams.csv")

In [5]:
df_students_exam.to_sql(name="exam",con=conn,if_exists="replace")
conn.commit()

In [6]:
pd.read_sql(text("select * from exam limit 5;"),conn)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,male,group A,high school,standard,completed,67,67,63
1,1,female,group D,some high school,free/reduced,none,40,59,55
2,2,male,group E,some college,free/reduced,none,59,60,50
3,3,male,group B,high school,standard,none,77,78,68
4,4,male,group E,associate's degree,standard,completed,78,73,68

In [20]:
df_students_exam.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [22]:
df_students_exam.to_sql(name="exam",con=conn,if_exists="replace",index=False)
conn.commit()

In [23]:
pd.read_sql(text("select * from exam limit 5;"),conn)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [37]:
sql_text="""CREATE TABLE exercise_book (
id INT PRIMARY KEY,
chapter_name text UNIQUE,
keywords text,
subchapter_num INT,
description text
);"""
pd.read_sql(text(sql_text),conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [38]:
conn.commit()

In [40]:
sql_text="""select * from 
            exercise_book"""
pd.read_sql(text(sql_text),conn)

Empty DataFrame
Columns: [id, chapter_name, keywords, subchapter_num, description]
Index: []

In [50]:
sql_text="""INSERT INTO exercise_book(id,chapter_name,keywords,subchapter_num,description) 
VALUES (1, 'env verification', 'env,verification', 1, 'env verification');"""
pd.read_sql(text(sql_text),conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [51]:
conn.commit()

In [52]:
sql_text="""INSERT INTO exercise_book(id,chapter_name,keywords,subchapter_num,description) 
VALUES (2, 'Python basic', 'Python,basic', 4, 'Python basic');"""
pd.read_sql(text(sql_text),conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [53]:
conn.commit()

In [54]:
sql_text="""INSERT INTO exercise_book(id,chapter_name,keywords,subchapter_num,description) 
VALUES (3, 'Numpy basic', 'Numpy,basic', 7, 'Numpy basic');"""
pd.read_sql(text(sql_text),conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [55]:
conn.commit()

In [56]:
sql_text="""INSERT INTO exercise_book(id,chapter_name,keywords,subchapter_num,description) 
VALUES (4, 'Pandas basic', 'Pandas,basic', 12, 'Pandas basic');"""
pd.read_sql(text(sql_text),conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [57]:
conn.commit()

In [58]:
sql_text="""select * from 
            exercise_book"""
pd.read_sql(text(sql_text),conn)

   id      chapter_name          keywords  subchapter_num       description
0   1  env verification  env,verification               1  env verification
1   2      Python basic      Python,basic               4      Python basic
2   3       Numpy basic       Numpy,basic               7       Numpy basic
3   4      Pandas basic      Pandas,basic              12      Pandas basic

In [63]:
sql_text="""UPDATE exercise_book set chapter_name='Pandas operation',keywords='Pandas,operation', 
description='Pandas operation' where id=4;"""
pd.read_sql(text(sql_text),conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [64]:
conn.commit()

In [65]:
sql_text="""select * from 
            exercise_book"""
pd.read_sql(text(sql_text),conn)

   id      chapter_name          keywords  subchapter_num       description
0   1  env verification  env,verification               1  env verification
1   2      Python basic      Python,basic               4      Python basic
2   3       Numpy basic       Numpy,basic               7       Numpy basic
3   4  Pandas operation  Pandas,operation              12  Pandas operation

In [70]:
sql_text="""DELETE from exercise_book where id=2 or id=4"""
pd.read_sql(text(sql_text),conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [71]:
conn.commit()

In [72]:
sql_text="""select * from 
            exercise_book;"""
pd.read_sql(text(sql_text),conn)

   id      chapter_name          keywords  subchapter_num       description
0   1  env verification  env,verification               1  env verification
1   3       Numpy basic       Numpy,basic               7       Numpy basic

In [73]:
sql_text="""DROP table exercise_book;"""
pd.read_sql(text(sql_text),conn)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [74]:
conn.commit()

In [75]:
sql_text="""select * from 
            exercise_book;"""
pd.read_sql(text(sql_text),conn)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "exercise_book" does not exist
LINE 2:             exercise_book;
                    ^

[SQL: select * from
            exercise_book;]
(Background on this error at: https://sqlalche.me/e/20/f405)